*{
    margin: 0;
    padding: 0;
    /*font-family: "Source Code Pro", monospace;*/

}


header{
    background-image: url(../image/pic-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;



}
.height{
    min-height: 90vh;
    align-items: center;
}

header h5{

color: #008ed6;

text-transform: uppercase;

font-size: 12px;

margin-bottom: 10px;
}
header h1{

color: #ffff;

font-size: 40px;

margin-bottom: 15px;
}
header p{

color: #999999;

margin-bottom: 30px;
}
header .btn_download{

color: #ffff;

text-transform: uppercase;

font-size: 12px;

letter-spacing: 2px;

border-radius: 3px;

border: 1px solid #008cca;

padding: 12px 20px;

background-color: #008cca;
}

header .view_btn{

background: transparent;

border-color: #999999;

margin-left: 10px;
}




header .btn_download:hover{
    background-color: transparent;
    color: #ffff;
    border-color: #999999;

}

header .view_btn:hover{
    background-color: #008ed6;
    color: #ffff;
    border-color: #008ed6;
}


.nav-item .nav-link{
    color: #ffff;
    text-transform:capitalize;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 0 !important;
}

.nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}

.nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}



.nav-item .nav-link:hover{
    color:#fff;
}

.nav-item .nav-link:hover::before{
    width: 48%;
}

.nav-item .nav-link:hover::after{
    width: 48%;
}

.nav-item{
    margin-left: 30px;
}

.phone_image{
    position: absolute;
    bottom: 0;
    width: 40%;

}

.feature_section{

padding: 70px 0px;
}
.heading{

text-align: center;

margin-bottom: 50px;
}
.heading h5{

color: #008cca;

text-transform: capitalize;

font-size: 16px;

font-weight: 500;

letter-spacing: 1px;
}
.heading h1{

text-transform: capitalize;

font-size: 30px;

margin: 10px 0;
}
.heading span{

display: block;

width: 50px;

height: 3px;


margin: auto;

margin-top: 20px;
position: relative;
}

.heading span::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    top: 0;
    transition: .4s all ease-in-out;
}
.heading span::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: #008ed6;
    top: 0;
    transition: .4s all ease-in-out;

}

.feature_section:hover .heading span::before{
    width: 48%;
}


.feature_section:hover .heading span::after{
    width: 48%;
}

.feature_content{

text-align: center;
}
.feature_content .icon{

height: 60px;

width: 60px;

border: 1px solid #9999997d;

border-radius: 50%;

display: flex;

justify-content: center;

align-items: center;

color: #008cca;

font-size: 20px;

margin: auto;
}

.feature_content h3{

font-size: 20px;

text-transform: capitalize;

color: #1a1a1a;

margin-bottom: 10px;
}
.feature_content p{

color: #999999;

font-size: 15px;
}


.details{

padding: 70px 0px;
}

.details ul{

list-style: none;

padding: 0;
}
.details ul li {

display: flex;

margin-bottom: 10px;

align-items: center;

text-transform: capitalize;
}
.details ul li .list_icon{

width: 25px;

text-align: center;

margin-right: 5px;

color: #008cca;
}

.details p{
    
color: #999999;
    
margin-bottom: 20px;
}

.details:hover .heading span::before{
    width: 48%;
}

.details:hover .heading span::after{
    width: 48%;
}



.details .heading span{
    
margin-left: 0;
}

    


.details .heading{
    margin-bottom: 30px;
}

.customize_section{
    background-color: #f2f2f2;
    padding: 70px 0px;
}
.customize_section p{
    color: #999999;
}

.customize_section:hover .heading span::before{
    width: 48%;
}

.customize_section:hover .heading span::after{
    width: 48%;
}

.customize_section .heading span{
    
    margin-left: 0;
}



.testimonial_section{
    background-image: url(../image/pic-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px;
}

.testimonial_section .heading h1{
    color: #fff;
}

.testimonial_section:hover .heading span::before{
    width: 48%;
}

.testimonial_section:hover .heading span::after{
    width: 48%;
}


.testimonial_section p{

color: #ffffff;

font-style: italic;

margin-bottom: 20px;
}

.clients{

display: flex;

align-items: center;
}

.clients_details{

margin-left: 15px;
}

.clients_details h5{
    
color: #ffffff;
    
font-size: 14px;
}
.clients_details p{
    
margin: 0;
    
margin-bottom: 5px;
}

.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.owl-dots .owl-dot span{
    width: 6px;
    height: 6px;
    background-color: transparent;
    border: 1px solid gray;
    display: block;
    margin: 3px;
    border-radius: 50px;

}

.owl-dots .active span{

    width: 10px;
    height: 10px;
    background-color: white

}

.ad_section{

background-color: #000;

padding: 50px 0px;
}
.ad_section h2{
    
color: #fff;
    
font-size: 20px;
}
.ad_section span{
    
font-weight: 300;
}

.ad_section .edit_button{
    
/* padding: 50px 0px; */
}

.ad_section .btn_downloa{

    color: #ffff;
        
        text-transform: uppercase;
        
        font-size: 12px;
        
        letter-spacing: 2px;
        
        border-radius: 3px;
        
        border: 1px solid #008cca;
        
        padding: 12px 20px;
        
        background-color: #008cca;    
    }
        
    .ad_section .vie_btn{
        
        background: transparent;
        
        border-color: #999999;
        
        margin-left: 10px;
    }
        
        
    .ad_section .btn_downloa:hover{
        background-color: transparent;
         color: #ffff;
        border-color: #999999;
        
    }
        
    .ad_section .vie_btn:hover{
            background-color: #008ed6;
            color: #ffff;
            border-color: #008ed6;
    }

    .price_table .btn_downloa{

color:#008cca;

text-transform: uppercase;

font-size: 12px;

letter-spacing: 2px;

border-radius: 3px;

border: 1px solid #999999;

padding: 12px 20px;

background-color: #fff;

font-size: 16px;

font-weight: 600;

}

.price_table .btn_downloa:hover{
        background-color:#008cca;
         color:#fff;
        border-color: #008cca;
    }
 
    
.pricing_section{

padding: 60px 0px;
}   
.price_table{

border: 1px solid #ad907087;

text-align: center;

padding: 30px 0px;
} 
.price_table h2{
    
text-transform: uppercase;
    
font-size: 25px;
    
margin-bottom: 30px;
    
font-weight: bold;
}
.price{

border-top: 1px solid #999;

border-bottom: 1px solid #999;

padding: 25px 0px;
}
.price h1{

font-size: 60px;
}
.price sup{

font-size: 35px;
}
.price_table p{

color: #999999;

padding: 30px 20px;
}
.price_table span{
    
color: #008cca;
}

.price p{
    
padding:  0px !important;
}

.price_table:hover h2 {
    color:#008ed6;
}

.price_table:hover .price, .price_table:hover .order{
    background-color: #008ed6;
    color:#fff;

}

.pricing_section:hover .heading span::before{
    width: 48%;
}

.pricing_section:hover .heading span::after{
    width: 48%;
}

.contact_us{

background-color: #ededed;

padding: 60px 0px;

position: relative;

padding-bottom: 300px;
}
.contact_us i{

font-size: 25px;

margin-bottom: 30px;

color: #008cd1;
}

.contact_us p{

line-height: 10px;

font-size: 15px;

color: #999999;
}

.contact_us:hover .heading span::before{
    width: 48%;
}

.contact_us:hover .heading span::after{
    width: 48%;
}


.form_box{

background: #000;

padding: 50px;

position: absolute;

bottom: -50px;

left: 50%;

transform: translate(-50%);

width: 50%;
}
.form_box form input{

background: transparent;

border-color: #999999;
}
.form_box form textarea{

background: transparent;

height: 150px;

border-color: #999;
}
.form_box form input[type='submit']{

color: #fff;

border: none;

/* border: 1px solid #999; */

padding: 5px 20px;

background: #008cca;

border-radius: 3px;

display: block;

margin-left: auto;
}


.map iframe{
    display: block;
}


footer{
    background-color: #15141a;
    padding: 40px 0;
}
.social_content{

}
.social_content ul{
    
display: flex;
    
justify-content: center;
    
margin-bottom: 10px;

align-items: center;
}
.social_content ul li{
    
list-style: none;
}
.social_content ul li a{
    
color: #444348;
    
margin-left: 15px;
    
font-size: 20px;
}
footer p{

color: #444348;
text-transform: uppercase;
}
.social_content ul li a:hover{
    color: #008ed6;
}
